@font-face {
    font-family: 'Bello Script';
    src: url("/font/bello-script.ttf");
}
@font-face {
    font-family: 'ProximaNova';
    src: url("font/proxima-nova-regular.woff");
}

:root {
    --blue: #4f88ef;
    --menu-hover: #1166a5;
}

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    align-items: center;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav.toggle {
    height: 100vh;
}

#header {
    align-items: center;
    background-color: var(--blue);
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 12px;
    position: relative;
    width: 100%;
}

nav h1 {
    color: white;
    font-family: Bello Script;
    font-size: 29px;
    font-weight: 400;
}

.nav-btn {
    padding: 0.2rem;
    position: absolute;
    right: 15px;
    height: 21px;
    width: 22px;
    /* background-color: transparent; */
    background: url("images/group.svg") no-repeat center;
    border: none;
    cursor: pointer;
}

.nav-btn.close {
    background: url("images/shape.svg") no-repeat center;
}

.nav ul {
    display: unset;
}

.nav-items {
    display: none;
}

.nav-items.toggle {
    color: white;
    display: block;
    font-family: ProximaNova;
    font-size: 24px;
    font-weight: 600;
    padding-top: 20px;
}

.nav-item {
    border-radius: 5px;
    cursor: pointer;
    margin: 43px auto 0 auto;
    padding: 0.2rem 0.7rem;
    width: fit-content;
}

.nav-item:hover {
    background-color: var(--menu-hover);
}
