@font-face {
    font-family: 'Bello Script';
    src: url("/font/bello-script.ttf");
}
@font-face {
    font-family: 'ProximaNova';
    src: url("font/proxima-nova-regular.woff");
}

:root {
    --blue: #4f88ef;
    --menu-hover: #1166a5;
}

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    align-items: center;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
}

nav.active {
    height: 100vh;
}

.header {
    align-items: center;
    background-color: var(--blue);
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 12px;
    position: relative;
    width: 100%;
}

.header__title {
    color: white;
    font-family: Bello Script;
    font-size: 29px;
    font-weight: 400;
}

.header__button {
    background: url("images/group.svg") no-repeat center;
    border: none;
    cursor: pointer;
    height: 21px;
    padding: 3px;
    position: absolute;
    right: 15px;
    width: 22px;
}

.header__button.active {
    background: url("images/shape.svg") no-repeat center;
}

.navigation__profile {
    display: none;
}

.navigation__menu {
    display: none;
}

.navigation__menu.active {
    color: white;
    display: block;
    font-family: ProximaNova;
    font-size: 24px;
    font-weight: 600;
    padding-top: 20px;
}

.navigation__menu__item {
    border-radius: 5px;
    cursor: pointer;
    margin: 44px auto 0 auto;
    padding: 3px 11px;
    width: fit-content;
}

.navigation__menu__item:hover {
    background-color: var(--menu-hover);
}

@media screen and (min-width: 1024px) {
    nav {
        align-items: center;
        flex-direction: row;
        height: 70px;
        justify-content: space-between;
        padding: 26px 30px;
    }

    .header {
        display: none;
    }

    .navigation__menu {
        color: white;
        column-gap: 50px;
        display: flex;
        flex-direction: row;
        font-family: ProximaNova;
        font-size: 14px;
        font-weight: 600;
        padding: 0;
    }

    .navigation__menu__item {
        margin: 0;
        padding: 8px;
    }

    .navigation__profile {
        align-items: center;
        background: url('/images/humanoids-logo.png') no-repeat center #fff;
        background-position: 20px;
        background-size: 65px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        display: flex;
        height: 35px;
        justify-content: flex-end;
        position: relative;
        width: 135px;
    }

    .navigation__profile::after {
        content: url('/images/arrow-down.svg');
        height: 10px;
        position: absolute;
        right: -15px;
        top: 8px;
    }

    .navigation__profile__img {
        background-color: sandybrown;
        border-radius: 50%;
        height: 32px;
        margin: 2px;
        width: 32px;
    }
}
