@font-face {
    font-family: 'Bello Script';
    src: url("/font/bello-script.ttf");
}
@font-face {
    font-family: 'ProximaNova';
    src: url("font/proxima-nova-regular.woff");
}

:root {
    --blue: #4f88ef;
    --menu-hover: #1166a5;
}

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    align-items: center;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
}

nav.toggle {
    height: 100vh;
}

#header {
    align-items: center;
    background-color: var(--blue);
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 12px;
    position: relative;
    width: 100%;
}

nav h1 {
    color: white;
    font-family: Bello Script;
    font-size: 29px;
    font-weight: 400;
}

.nav-btn {
    background: url("images/group.svg") no-repeat center;
    border: none;
    cursor: pointer;
    height: 21px;
    padding: 0.2rem;
    position: absolute;
    right: 15px;
    width: 22px;
}

.nav-btn.toggle {
    background: url("images/shape.svg") no-repeat center;
}

.profile-btn {
    display: none;
}

.nav-items {
    display: none;
}

.nav-items.toggle {
    color: white;
    display: block;
    font-family: ProximaNova;
    font-size: 24px;
    font-weight: 600;
    padding-top: 20px;
}

.nav-item {
    border-radius: 5px;
    cursor: pointer;
    margin: 43px auto 0 auto;
    padding: 0.2rem 0.7rem;
    width: fit-content;
}

.nav-item:hover {
    background-color: var(--menu-hover);
}

@media screen and (min-width: 1024px) {
    nav {
        align-items: center;
        flex-direction: row;
        height: 70px;
        justify-content: space-between;
        padding: 26px 30px;
    }

    #header {
        display: none;
    }

    .nav-items {
        color: white;
        column-gap: 50px;
        display: flex;
        flex-direction: row;
        font-family: ProximaNova;
        font-size: 14px;
        font-weight: 600;
        padding: 0;
    }

    .nav-item {
        margin: 0;
        padding: 0.5rem 0.5rem;
    }

    .profile-btn {
        align-items: center;
        background: url('/images/humanoids-logo.png') no-repeat center #fff;
        background-position: 20px;
        background-size: 65px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        display: flex;
        height: 35px;
        justify-content: flex-end;
        position: relative;
        width: 135px;
    }

    .profile-btn::after {
        content: url('/images/Arrow-down.svg');
        height: 10px;
        position: absolute;
        right: -15px;
        top: 8px;
    }

    .profile-img {
        background-color: sandybrown;
        border-radius: 50%;
        height: 32px;
        margin: 1px;
        width: 32px;
    }
}
